<!--##################-->
<!--# Not relevant!! #-->
<!--##################-->
<div class="container">
  <div class="container">
    <h2 class="title">MySQL Question</h2>
    <p>Here are three MySQL tables in the same database.</p>
    <%= render 'table' %>
    <%= render 'sql_input' %>
  </div>
</div>
