<!--##################-->
<!--# Not relevant!! #-->
<!--##################-->
<div class="container">
<!--  <p>Using MySQL JOIN clauses, What is the query to SELECT the <b>name</b> of <b>car_makes</b> with a <b>coolness_score</b> greater than 3 and a <b>year</b> less than 2017?</p>-->
  <p>Find all cars that have a coolness score greater than 3 and were made before 2017. Include the car's model name, make name, color, and coolness score.</p>
  <%= form_with(url: questions_send_query_path, method: 'put') do |f| %>
    <div class="field">
      <%= f.label :mysql_query, 'MySQL Query (Note: SELECT is already appended to the text input, so start with what comes after):', class: 'label' %>
      <%= f.text_area :query, class: 'textarea', value: @prev_query, placeholder: 'SELECT ____________________' %>
    </div>
    <div class="control">
      <%= f.submit 'Execute', class: 'button is-primary is-outlined is-small' %>
    </div>
  <% end %>
</div>
