<!--##################-->
<!--# Not relevant!! #-->
<!--##################-->
<section class="hero is-small is-bold <%= @header_style %>">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Development Question
      </h1>
      <h2 class="subtitle">
        <%= @exercise_name %>
      </h2>
    </div>
  </div>
</section>
