<!--##################-->
<!--# Not relevant!! #-->
<!--##################-->
<%= render 'header' %>
<div class="container mt-3 mb-5">
  <b>Below are three MySQL tables in the same database that correspond to objects CarMake, CarModel, CarCoolness</b>
</div>
<%= render 'questions/table' %>
<div class="container">
  <p>Given the <b>CarModel</b> objects, sort them by their <b>coolness_scores</b> and secondary sort them by their <b>names</b> alphabetically.</p>
  <textarea class="textarea" placeholder="def sortCars(cars) { ... }" rows="35"></textarea>
</div>
