<!--##################-->
<!--# Not relevant!! #-->
<!--##################-->
<%= render 'header' %>
<%= render 'questions/table' %>
<div class="container">
  <p>Given the <b>CarModel</b> objects, sort them by their <b>coolness_scores</b> and secondary sort them by their <b>names</b> alphabetically.</p>
  <textarea class="textarea" placeholder="def sortCars(cars) { ... }" rows="35"></textarea>
</div>
